<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
	<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
	<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
	<title>Instant Search</title>
	<style type="text/css">
		body{
			background: #82C1EF;
			height: 100vh;
			font-family: 'Quicksand', sans-serif;
		}

		form{
			margin:0 auto;
			text-align: center;
			height: 15%;
			display: flex;
			align-items: center;
			
		}

		#search{
			margin:0 auto;
			font-size: 20px;
			border:1px solid #eee;
			width:40%;
			padding:10px;
			padding-left: 20px;
			border-radius: 7px;
			font-family: 'Quicksand', sans-serif;
		}

		.ui-menu-item{
			font-size: :12px;
			font-family: 'Quicksand',sans-serif;
		}
	</style>
</head>
<body>
	<form action="">
		<input type="text" id="search" placeholder="Enter Something" />
	</form>
</body>
<script type="text/javascript">

$("#search").autocomplete({
  source: function(request, response) {
    $.getJSON("http://159.65.77.177/search?", { word: $('#search').val() }, 
              function(data){
              	console.log(data.data)
              	response(data.data);
              });
  },
  select: function(event, ui){
  }
});


</script>
</html>
